.community{
    background-color: black;
    color: #ffffff;
    overflow: hidden;
    height: 800px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__images{
        display: flex;
    }

    &__text-content{
        margin: 200px 0;
    }

    &__images--1{
        position: relative;
        bottom: 60px;
        right: 50px;
    }

    &__images--2{
        position: relative;
        bottom: 135px;
    }
}