.features{
    padding: 50px 0px 30px 0px;

    &__text-content{
        text-align: center;
    }

    &__list{
        display: flex;
    }


    &__type{
        text-align: center;
        width: 300px;
        line-height: 24px;
        margin: 0 auto;

        & img{
            margin-bottom: 0px;
        }

        & h3{
            margin: 0;
        }

        & p {
            margin: 11px 0;
        }

        & a{
            color: $purple;
            font-weight: 600;

        }


    }

   





}