.hero{

    &__wrapper{
        
        @media (min-width:768px){
            display: flex;
        }
    }

    &__text-content{
        margin-top:90px;
        width: 700px;
    }

    &__compatiable-content{
        margin-top: 80px;  
    }

    &__compatiable-list img{
        margin-right: 30px;
        width: 50px;
    }

    &__phone-img{
        margin-top:55px;
        margin-left: 120px;
    }



}