.platform{
    padding: 30px 0px 190px 0px;

    &__wrapper{
        display: flex;
    }
    
    
    &__lists {
        display: flex;
        align-items: center;

        & p {
            margin-left: 13px;
        }
    }

    &__img{
        display: flex;
    }

    &__phone{
        position: relative;
        top:100px;
        width: 300px;
    }

    &__web-app{
        position: relative;
        right:100px;
        z-index: -1;
        width: 820px;
    }

}