.platform{
    padding: 3.5rem 0;

    &__wrapper{
        display: flex;
    }
    
    &__text-content{
        width: 700px;

        & h2{
            font-size: 46px;
            line-height: 50px;
            width: 460px;
            
        }
        
        & p  {
            font-size: 18px;
            line-height: 28px;
            width: 520px;
           
        }

    }

    &__lists {
        display: flex;
        align-items: center;

        & p {
            margin-left: 13px;
        }
    }

    &__img{
        display: flex;
    }

    &__phone{
        position: relative;
        left: 80px;
        top:100px;
        width: 320px;
    }

    &__web-app{
        position: relative;
        right: 80px;
        z-index: -1;
        width: 820px;
    }

}