.shows{
    padding: .5rem 0;

    @media (min-width:768px){
        padding-top: 27px;
        padding-bottom: 30px;
    }

    @media (min-width:814px){
        padding-top: 79px;
        padding-bottom: 47px;
    }

    @media (min-width:1192px){
        padding-bottom: 115px;
    }


    @media (min-width:1366px){
        padding-bottom: 151px;
    }

  
  
}