.btn{
    background-color: $purple;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 5px;
    display: inline-block;

    &--header{
        padding-right: 14px;
        padding-left: 14px;
    }

    &--hero{
        border: none;
        padding-top:11px;
        padding-bottom: 11px;
        font-family: $mon;
        cursor: pointer;
    }

    &--started{
        border: none;
        padding-top:8px;
        padding-bottom: 8px;
        margin-left: -3px;
        font-family: $mon;
        cursor: pointer;
    }

    &--community{
        padding-top:14px;
        padding-bottom: 14px;
    }
}