.btn{
    background-color: $purple;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 5px;
    display: inline-block;

    &--header{
        padding-right: 14px;
        padding-left: 14px;
    }

    &--hero{
        border: none;
        padding-top:15px;
        padding-bottom: 15px;
        font-family: $mon;
        cursor: pointer;
        width: 101%;

        @media (min-width:768px){
            padding-top:11px;
            padding-bottom: 11px;
            width: 80%;
            margin-top: 9px;
        }

        @media (min-width:1024px){
            padding-top:11px;
            padding-bottom: 11px;
            width: 31%;
        }

    }

    &--started{
        border: none;
        padding-top:15px;
        padding-bottom: 15px;
        font-family: $mon;
        cursor: pointer;
        width: 101%;

        @media (min-width:768px){
            width: 25%;
            padding-top:11px;
            padding-bottom: 11px;
        
        }

        @media (min-width:1116px){
            width: 20%;
            padding-top:11px;
            padding-bottom: 11px;
        }

        @media (min-width:1366px){
            width: 15%;
        }

    }

    &--community{
        padding-top:14px;
        padding-bottom: 14px;
    }
}