.input{
    
    &--hero{
        width: 40%;
        padding: 11px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border:1px solid #C4C4C4;
        border-radius: 5px;
        font-family: $mon;
    }

    &--started{
        width: 20%;
        padding:9px 20px;
        margin: 15px 0px;
        box-sizing: border-box;
        font-family: $mon;
    }

}